.logo {
  height: 53px;
  position: relative;
  width: 50px;
}

.logo .bounding-box {
  height: 53px;
  left: 7253px;
  position: absolute;
  top: -4474px;
  width: 50px;
}

.logo .vector {
  height: 36px;
  left: 2px;
  position: absolute;
  top: 9px;
  width: 47px;
}
