.kb-header {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 1728px;
}

.kb-header .container-middle {
  height: 85.01px;
  position: relative;
  width: 1320px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.kb-header .container-middle .container-logoname {
  position: absolute;
  left: 0%;
}

.kb-header .container-middle .container-pagelinks {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.kb-header .container-middle .container-signininfo {
  position: absolute;
  right: 0%;
}