/* Blog.css */
.blog-container {
  font-family: 'Arial', sans-serif;
  margin: auto;
  padding: 20px;
  width: 80%;
  margin-top: 0;
}

.blog-title {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.blog-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease-in-out; /* アニメーション効果 */
}

.blog-item:hover {
  transform: translateY(-5px); /* ホバー時の動き */
}

.item-title {
  color: #2a9d8f;
  margin-bottom: 10px;
}

.item-description
.item-content {
  color: #333;
  line-height: 1.6;
}

.edit-button {
  background-color: #4CAF50; /* 緑色の背景 */
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* スムーズな遷移効果 */
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.edit-button i {
  margin-right: 5px;
}

.edit-button:hover {
  background-color: #45a049; /* ホバー時の背景色の変更 */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* ホバー時のシャドウ */
  transform: translateY(-2px); /* ホバー時の少しの浮き上がり効果 */
}

.blog-edit {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form label {
  margin: 10px 0 5px;
}

.edit-form input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.edit-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height : 30vh;
}

.edit-form .apply-button {
  background-color: #ff6347;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.edit-form .apply-button:hover {
  background-color: #e55342;
}

.item-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: #f44336; 
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #e53935; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.blog-header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  margin-bottom: 20px;
}

.blog-controls {
  display: flex;
  justify-content: flex-end;
}

.blog-controls select {
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.blog-controls button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blog-controls button:hover {
  background-color: #0056b3;
}

.blog-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-created-at {
  margin-left: auto; /* 右端に寄せる */
  font-style: italic;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  marginRight: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  borderRadius: 4px;
  outline: none;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* モーダルのオーバーレイ（背景）のスタイルを定義 */
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backgroundColor: rgba(0, 0, 0, 0.75);
  zIndex: 1020;
}

/* モーダル内のボタンのスタイル */
.modal-close-button {
  font-size: 1.5rem;
  line-height: 1;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* モーダルのタイトルのスタイル */
.modal-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

/* モーダルのコンテンツのスタイル */
.modal-content {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #333;
}

/* 小さな画面（モバイル）のスタイル */
@media (max-width: 768px) {
  .blog-container {
    padding: 10px;
  }

  .blog-item {
    padding: 15px;
  }
}

/* 中くらいの画面（タブレット）のスタイル */
@media (min-width: 769px) and (max-width: 1024px) {
  .blog-container {
    padding: 15px;
  }

  .blog-item {
    padding: 20px;
  }
}

/* 大きな画面（デスクトップ）のスタイル */
@media (min-width: 1025px) {
  .blog-container {
    max-width: 1200px; /* コンテナの最大幅 */
  }
}
