:root {
  --dark-elevation-12: 0px 18px 32px 0px rgba(0, 0, 0, 1);
  --dark-elevation-2: 0px 4px 8px 0px rgba(0, 0, 0, 0.8);
  --dark-elevation-4: 0px 6px 12px 0px rgba(0, 0, 0, 0.8);
  --dark-elevation-8: 0px 10px 22px 0px rgba(0, 0, 0, 0.8);
  --light-elevation-12: 0px 12px 30px 0px rgba(0, 0, 0, 0.15);
  --light-elevation-2: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  --light-elevation-4: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  --light-elevation-8: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  --typography-body-lg-bold-font-family: "BIZ UDPGothic", Helvetica;
  --typography-body-lg-bold-font-size: 20px;
  --typography-body-lg-bold-font-style: normal;
  --typography-body-lg-bold-font-weight: 700;
  --typography-body-lg-bold-letter-spacing: 0.5px;
  --typography-body-lg-bold-line-height: 160.0000023841858%;
  --typography-body-lg-font-family: "BIZ UDPGothic", Helvetica;
  --typography-body-lg-font-size: 20px;
  --typography-body-lg-font-style: normal;
  --typography-body-lg-font-weight: 400;
  --typography-body-lg-letter-spacing: 0.5px;
  --typography-body-lg-line-height: 160.0000023841858%;
  --typography-body-md-bold-font-family: "BIZ UDPGothic", Helvetica;
  --typography-body-md-bold-font-size: 16px;
  --typography-body-md-bold-font-style: normal;
  --typography-body-md-bold-font-weight: 700;
  --typography-body-md-bold-letter-spacing: 0.48px;
  --typography-body-md-bold-line-height: 175%;
  --typography-body-md-font-family: "BIZ UDPGothic", Helvetica;
  --typography-body-md-font-size: 16px;
  --typography-body-md-font-style: normal;
  --typography-body-md-font-weight: 400;
  --typography-body-md-letter-spacing: 0.48px;
  --typography-body-md-line-height: 175%;
  --typography-body-sm-bold-font-family: "BIZ UDPGothic", Helvetica;
  --typography-body-sm-bold-font-size: 14px;
  --typography-body-sm-bold-font-style: normal;
  --typography-body-sm-bold-font-weight: 700;
  --typography-body-sm-bold-letter-spacing: 0.42px;
  --typography-body-sm-bold-line-height: 171.00000381469727%;
  --typography-body-sm-font-family: "BIZ UDPGothic", Helvetica;
  --typography-body-sm-font-size: 14px;
  --typography-body-sm-font-style: normal;
  --typography-body-sm-font-weight: 400;
  --typography-body-sm-letter-spacing: 0.42px;
  --typography-body-sm-line-height: 171.00000381469727%;
  --typography-body-xs-bold-font-family: "BIZ UDPGothic", Helvetica;
  --typography-body-xs-bold-font-size: 12px;
  --typography-body-xs-bold-font-style: normal;
  --typography-body-xs-bold-font-weight: 700;
  --typography-body-xs-bold-letter-spacing: 0.48px;
  --typography-body-xs-bold-line-height: 166.99999570846558%;
  --typography-body-xs-font-family: "BIZ UDPGothic", Helvetica;
  --typography-body-xs-font-size: 12px;
  --typography-body-xs-font-style: normal;
  --typography-body-xs-font-weight: 400;
  --typography-body-xs-letter-spacing: 0.48px;
  --typography-body-xs-line-height: 166.99999570846558%;
  --typography-heading-lg-font-family: "BIZ UDPGothic", Helvetica;
  --typography-heading-lg-font-size: 28px;
  --typography-heading-lg-font-style: normal;
  --typography-heading-lg-font-weight: 400;
  --typography-heading-lg-letter-spacing: 0.56px;
  --typography-heading-lg-line-height: 157.00000524520874%;
  --typography-heading-md-font-family: "BIZ UDPGothic", Helvetica;
  --typography-heading-md-font-size: 24px;
  --typography-heading-md-font-style: normal;
  --typography-heading-md-font-weight: 400;
  --typography-heading-md-letter-spacing: 0.6px;
  --typography-heading-md-line-height: 166.99999570846558%;
  --typography-heading-sm-font-family: "BIZ UDPGothic", Helvetica;
  --typography-heading-sm-font-size: 20px;
  --typography-heading-sm-font-style: normal;
  --typography-heading-sm-font-weight: 400;
  --typography-heading-sm-letter-spacing: 0.5px;
  --typography-heading-sm-line-height: 160.0000023841858%;
  --typography-heading-xl-font-family: "BIZ UDPGothic", Helvetica;
  --typography-heading-xl-font-size: 34px;
  --typography-heading-xl-font-style: normal;
  --typography-heading-xl-font-weight: 400;
  --typography-heading-xl-letter-spacing: 0.68px;
  --typography-heading-xl-line-height: 152.99999713897705%;
  --typography-heading-xs-font-family: "BIZ UDPGothic", Helvetica;
  --typography-heading-xs-font-size: 16px;
  --typography-heading-xs-font-style: normal;
  --typography-heading-xs-font-weight: 400;
  --typography-heading-xs-letter-spacing: 0.48px;
  --typography-heading-xs-line-height: 175%;
  --typography-label-md-font-family: "BIZ UDPGothic", Helvetica;
  --typography-label-md-font-size: 16px;
  --typography-label-md-font-style: normal;
  --typography-label-md-font-weight: 700;
  --typography-label-md-letter-spacing: 0.48px;
  --typography-label-md-line-height: 100%;
  --typography-label-sm-font-family: "BIZ UDPGothic", Helvetica;
  --typography-label-sm-font-size: 14px;
  --typography-label-sm-font-style: normal;
  --typography-label-sm-font-weight: 700;
  --typography-label-sm-letter-spacing: 0.42px;
  --typography-label-sm-line-height: 100%;
  --typography-label-xs-font-family: "BIZ UDPGothic", Helvetica;
  --typography-label-xs-font-size: 12px;
  --typography-label-xs-font-style: normal;
  --typography-label-xs-font-weight: 400;
  --typography-label-xs-letter-spacing: 0.48px;
  --typography-label-xs-line-height: 100%;
  --typography-title-lg-font-family: "BIZ UDPGothic", Helvetica;
  --typography-title-lg-font-size: 48px;
  --typography-title-lg-font-style: normal;
  --typography-title-lg-font-weight: 700;
  --typography-title-lg-letter-spacing: 0.72px;
  --typography-title-lg-line-height: 150%;
  --typography-title-md-font-family: "BIZ UDPGothic", Helvetica;
  --typography-title-md-font-size: 40px;
  --typography-title-md-font-style: normal;
  --typography-title-md-font-weight: 700;
  --typography-title-md-letter-spacing: 0.8px;
  --typography-title-md-line-height: 150%;
}
